<div class="row">
  <div class="col-md-6">
    <div class="title-info">
      {{ with .Site.Title }}
      <a href="/"> {{ . }} </a>
      {{ end }}
    </div>
  </div>
  <div class="col-md-6">
    <div class="menu">
      <a href="/">Home /</a>
      {{ range $name, $taxonomy := .Site.Sections }}
      {{ if ne $name "post" }}
      <a href="/{{ $name | urlize }}">{{ $name }} / </a>
      {{ end }}
      {{ end }}
    </div>
  </div>

</div>
<div class="row">
  <div class="title-info">
  <a href="">ADS</a>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- TheMilkShelf-Responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9888254581182547"
     data-ad-slot="6351077914"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </div>
</div>
